{% extends 'base.html' %}
{% block metatags %}
<meta property="og:url" content="https://news.moris.dev" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Flash Facts | {{ date_str }}" />
<meta property="og:description" content="Le ultime notizie dal mondo del {{ date_str }}, condensate in mini news tramite l'AI." />
<meta property="og:image" content="/images/logo/icon.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:locale" content="it_IT" />
<meta property="og:site_name" content="Flash Facts" />
<title>Flash Facts | {{date_str}}</title>
{% endblock %}
{% block content %}
<header class="header">
    <div class="logo">
        <a href="/">
            <img src="/images/logo/icon.png" height="100%">
            <h2>FLASH FACTS</h2>
        </a>
    </div>
    <div class="caption">
        News del <span><a href="/{{date}}">{{date_str}}</a></span>
    </div>
</header>
<main class="card-container" style="--facts: {{categories|length}}" id="scrollContainer">
    {% for category in categories %}
    <div class="card" style="background-image: url(/images/{{category}}.jpg);">
        <div class="content">
            <h2 class="title">{{category}}</h2>
            <p class="copy">{{ categories.get(category).get('summary') }}</p>
            <a class="btn" href="{{date}}/{{category}}">Esplora<i class="fa fa-arrow-right"></i></a>
        </div>
    </div>
    {% endfor %}
</main>
{% include 'footer.html' %}
<script src="/js/dimmer.js"></script>
<script src="/js/show.js"></script>
{% endblock %}